<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="/assets/prz.jpg"/>

    <h1 *ngIf="user" class="name">{{ user.surname.toUpperCase() + ' ' + user.firstName}}</h1>
    <h2 *ngIf="user" class="designation">{{user.profile.valueOf()}}</h2>

    <mat-divider></mat-divider>

    <button [routerLink]="'home'" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </button>
    <button [routerLink]="'my-class'" mat-button class="menu-button">
      <mat-icon>school</mat-icon>
      <span>Ma classe</span>
    </button>

    <button [routerLink]="'my-exercises'" mat-button class="menu-button">
      <mat-icon>edit</mat-icon>
      <span>Mes exercices</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Mon compte</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Aide</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
