<div class="mat-elevation-z8">
  <table border="1" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> Prénom</th>
      <td *matCellDef="let data">
        {{ data.pupil.firstName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td *matCellDef="let data">
        {{ data.pupil.surname}}
      </td>
    </ng-container>

    <ng-container matColumnDef="evaluation">
      <th mat-header-cell *matHeaderCellDef> Evaluation</th>
      <td *matCellDef="let data">
        <mat-slider
          *ngIf="!data.evaluation.absent"
          (input)="onEvaluationSlide(data,$event)"
          [(ngModel)]="data.evaluation.score"
          class="width-100"
          thumbLabel
          [displayWith]="formatLabel"
          tickInterval="1000"
          step="1"
          min="0"
          max="100"
          aria-label="units"></mat-slider>
      </td>
    </ng-container>

    <ng-container matColumnDef="absent">
      <th mat-header-cell *matHeaderCellDef> Absent</th>
      <td *matCellDef="let data">
        <mat-slide-toggle [checked]="data.evaluation.absent" (change)="changeAbsent($event,data.evaluation)"></mat-slide-toggle>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

