@use "@angular/material" as mat;

@font-face {
  font-family: "LetterForLeaner";
  src: local("LetterForLeaner"), url(LettersforLearners.ttf) format("truetype");
}


$my-app-typography: mat.define-typography-config(
  $font-family: 'LetterForLeaner',
  $display-4: mat.define-typography-level(112px),
  $display-3: mat.define-typography-level(56px),
  $display-2: mat.define-typography-level(45px),
  $display-1: mat.define-typography-level(34px),
  $headline: mat.define-typography-level(24px),
  $title: mat.define-typography-level(20px),
  $body-1: mat.define-typography-level(1.5rem),
  $button: mat.define-typography-level(1.5rem),
);
