<div class="mat-elevation-z8">
  <table border="1" mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Matières</th>
      <ng-container *matCellDef="let data">
        <td mat-cell *ngIf="data.subject" [attr.rowspan]="rowspandatasubject[data.subject]">
          <span>{{ getSubjectName(data.subject) }}</span>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef> Compétences </th>
      <ng-container *matCellDef="let data">
        <td style="text-align: center" mat-cell *ngIf="data.skill" [attr.rowspan]="rowspandatasskill[data.skill.id]">
          <span>{{ data.skill.name }} </span>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="linkedSkills">
      <th mat-header-cell *matHeaderCellDef> Compétences associées </th>
      <ng-container *matCellDef="let data">
        <td mat-cell *ngIf="data.linkedSkill" >
          <span>{{ data.linkedSkill.name }} </span>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="evaluationLinkedSkill">
      <th mat-header-cell *matHeaderCellDef> Evaluations Compétences associées</th>
      <ng-container *matCellDef="let data">
        <td mat-cell *ngIf="data.linkedSkill">
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="evaluation">
      <th mat-header-cell *matHeaderCellDef> Evaluations compétences</th>
      <ng-container *matCellDef="let data">
        <td mat-cell *ngIf="data.evaluationSkill" [attr.rowspan]="rowspandatasskill[data.evaluationSkill.id]">
          <span>{{ getEvaluationValue(data.evaluationSkill)}} </span>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
