<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Matières</th>
      <ng-container *matCellDef="let data">
        <td style="width: 5%;" mat-cell *ngIf="data.subject" [attr.rowspan]="rowspandatasubject[data.subject]">
          <span>{{ getSubjectName(data.subject) }}</span>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="objectives">
      <th mat-header-cell *matHeaderCellDef> Objectives</th>
      <ng-container *matCellDef="let data">
        <td style="width: 10%;" mat-cell *ngIf="data.objective" [attr.rowspan]="rowspandataobjective[data.objective]">
          <span>{{ getObjectiveName(data.objective) }}</span>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef> Compétences </th>
      <ng-container *matCellDef="let data">
        <td style="text-align: center; width: 20%" mat-cell *ngIf="data.skill" [attr.rowspan]="rowspandatasskill[data.skill.id]">
          <span>{{ data.skill.name }} </span>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="linkedSkills">
      <th mat-header-cell *matHeaderCellDef> Compétences associées </th>
      <ng-container *matCellDef="let data">
        <td mat-cell *ngIf="data.linkedSkill" >
          <div  style="padding: 1%"  class="row-centered width-100" *ngIf="data.linkedSkill.id">
            <div [innerHTML]="data.linkedSkill.name | nl2br"></div>
            <button (click)="onEditLinkedSkill(data.linkedSkill)"  mat-raised-button style="margin: 1%" ><mat-icon color="primary">edit</mat-icon></button>
          </div>
          <div class="width-100" *ngIf="!data.linkedSkill.id">
            <button  color="primary" class="width-100"  (click)="onEditLinkedSkill(data.linkedSkill)"  mat-raised-button><mat-icon>add</mat-icon > Ajouter </button>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="evaluationLinkedSkill">
      <th mat-header-cell *matHeaderCellDef> Evaluations compétences associées</th>
      <ng-container *matCellDef="let data">
        <td style="width: 20%" mat-cell *ngIf="data.linkedSkill">
          <p *ngIf="data.linkedSkill?.evaluationScore && data.linkedSkill?.evaluationScore == 'Absent'"> Absent </p>
          <mat-slider
            *ngIf="data.linkedSkill?.evaluationScore != null && data.linkedSkill?.evaluationScore !== 'Absent'"
            [(ngModel)]="data.linkedSkill.evaluationScore"
            class="width-100"
            thumbLabel
            disabled="true"
            tickInterval="1000"
            step="1"
            min="0"
            max="100"
            aria-label="units"></mat-slider>
        </td>
      </ng-container>
    </ng-container>

    <ng-container matColumnDef="evaluation">
      <th mat-header-cell *matHeaderCellDef> Evaluations compétences</th>
      <ng-container *matCellDef="let data">
        <td style="width: 5%;"  mat-cell *ngIf="data.evaluationSkill " [attr.rowspan]="rowspandatasskill[data.evaluationSkill.id]">
          <span>{{ data.evaluationSkill.value}} </span>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
